.logo{
    width: 100px;
}
header{
    background-color: rgb(207, 183, 162);
    border-radius: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.search-button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.Search{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    flex-wrap: wrap;
}