body{
    background-color: rgb(92, 79, 79);
}
/* cards */
.pokemon-container{
    background-color: rgb(162, 136, 113);
    border-radius: 5px;

}
.cardIMG{
    display: flex;
    background-color: aliceblue;
    width: 100px;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    background-color: rgb(207, 183, 162);
    border-radius: 5px;
    margin: 15px;
}

p{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.name{
    font-size: 20px;
    margin-bottom: -9px;
}
.type{
    font-size: 15px;
}

/* popup */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background-color: rgb(188, 163, 142);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.popup:target {
    display: flex;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1, h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 87, 57);
}